.footer-basic {
    padding-bottom: 10px;
    padding-top: 20px;
    background-color: #dfe3ee;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid  #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .footer-basic{
    padding:0 8px;
  }
  
  
  .footer-basic {
    text-align:center;
    padding:8px;
  }
  
  .footer-basic > a {
    padding-bottom:15px;
    margin-bottom: 15px;
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #dfe3ee;
    margin:0 8px;
    color: #34495e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .footer-basic > a:hover {
    opacity:0.9;
  }
  
  .footer-basic{
    margin-top:15px;
    text-align:center;
    font-size:16px;
    color:#34495e;
    margin-bottom:0;
    font-weight: 500;
  }
